.color-square {
    margin: 0 1em;
    height: 5em;
    width: 5em;
    padding: 1em;
    background-clip: content-box;
    border-radius: 35%;
}

.selected-color {
    /*border-radius: 25%;*/
    border: 0.2em lightslategrey solid;
    background-color: #789;
    /*border-spacing: 100px 100px;*/
}

.blueviolet {
    /*background-color: blueviolet;*/
    background-color: rgb(138, 43, 226);
}

.lightgreen {
    /*background-color: lightgreen;*/
    background-color: rgb(144, 238, 144);
}

.lightcyan {
    /*background-color: #CFFEFF*/
    background-color: rgb(207, 254, 255);
}

.darkviolet {
    background-color: rgb(148, 0, 211);
}